<h1>Collections for <%= @collection %>: <%= @items.size%> </h1>

<div class="container">
  <% even_numbered_items = @items.size % 2 == 0 %>

  <% ((even_numbered_items ? @items.size : @items.size+1 )/2).times do |i| %>
    <% current_item = @items_enumerable.next %>
    
    <% on_last_row = i == @items.size-2 %>
    <%# an even number of items will always have 2 in each rows %>
    <%# if there are odd numbers, then we don't iterate to the next item because "current_item" is already the last item %>
    <% if even_numbered_items || !(on_last_row) %>       
      <% next_item = @items_enumerable.next %>
    <% end %>

    <div class="row">
      <div class="col-xs-6" >
        <div class="well" style="background-image:url('<%= current_item.image_link %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
        <div>
          <%= current_item.name %>
          $<%= current_item.price %>
          <%= current_item.collections %>
          <%= link_to 'Show', current_item %>
        </div>
      </div>

      <% if next_item != nil %>       
      <div class="col-xs-6">
        <div class="well" style="background-image:url('<%= next_item.image_link %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
        <div>
          <%= next_item.name %>
          $<%= next_item.price %>
          <%= next_item.collections %>
          <%= link_to 'Show', next_item %>
        </div>
      </div>

      <% end %>

    </div>
  <% end %>

</div>