<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">rate us</h4>
      </div>
      <div class="modal-body">


        <h3>Rate your experience with this app..</h3>
        <%= form_with(model: current_user, url: ratings_user_path(current_user), local: true, method: :post) do |form| %>
  
          <%= form.label :ratings %>
          <%= form.radio_button :ratings, "1", class: "btn btn-danger" %>
          <%= form.label :ratings_1, "1" %>
          <%= form.radio_button :ratings, "2", class: "btn btn-warning" %>
          <%= form.label :ratings_2, "2" %>
          <%= form.radio_button :ratings, "3", class: "btn btn-info", checked: true%>
          <%= form.label :ratings_3, "3" %>
          <%= form.radio_button :ratings, "4", class: "btn btn-primary" %>
          <%= form.label :ratings_4, "4" %>
          <%= form.radio_button :ratings, "5", class: "btn btn-success" %>
          <%= form.label :ratings_5, "5" %>
          
          <br>
  
          <%= form.submit "Submit", class: "btn btn-primary btn-block" %>
        <% end %>
       
    </div>
  </div>
</div>
