<% provide(:title, "Shopping Cart (" + @bag_items.size.to_s + ")") %>

<h1>Bag Items: <%= @bag_items.size %> </h1>

<div class="container">

  <% if @bag_items.size == 0 %>
    <h2>It's lonely here</h2>
    <p>Start shopping and add more items to the bag, and then there will be joy here...</p>
  <% end %>

  <% @bag_items.each do |bag_item| %>
    <div class="row">
      <div class="col-xs-5">
        <div><img src="<%= bag_item.item.image_link %>" style="height: 100%; width: 100%; object-fit: contain"></div>
      </div>
      <div class="col-xs-7">
        <div>
          <p><%= bag_item.item.name %></p>
          <p>$<%= bag_item.item.price %></p>
          <p>
            COLOUR: <%= bag_item.item_variant.colour %>, 
            SIZE: <%= bag_item.item_variant.size %>, 
            QUANTITY: <%= bag_item.quantity %>
          </p>
          <%= link_to 'Show Item', bag_item.item %>
          <%= link_to 'Destroy', bag_item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @bag_items.size > 0 %>
    <div>
      <span>taxes (10%)</span> <%# left-aligned %>
      <span><%= @total_price * 0.1 %></span> <%# right-aligned %>
    </div>
    <div>
      <span>sub-total</span><%# left-aligned %>
      <span><%= @total_price * 0.9 %></span><%# right-aligned %>
    </div>
    <div>
      <span>Total</span><%# left-aligned %>
      <span><%= @total_price %></span><%# right-aligned %>
    </div>
  
    <%= form_with url: destroy_all_bag_items_path, method: "delete" do |form| %>
      <%= form.submit "Checkout" %>
    <% end %>
  <% end %>
</div>