<% provide(:title, "Bag Items (" + @bag_items.size.to_s + ")") %>

<div id="first_checkout_modal_content"><%= render 'bag_items/first_checkout_modal' %></div>

<% if @bag_items.size == 0 %>
<h2>It's lonely here</h2>
<p>Start shopping and add more items to the bag, and then there will be joy here...</p>
<% end %>

<% @bag_items.each do |bag_item| %>
<div class="row">
  <div class="col-xs-5">
    <%= link_to bag_item.item do %>
    <div><img src="<%= bag_item.item.image_link %>" style="height: 100%; width: 100%; object-fit: contain"></div>
    <% end %>
  </div>
  <div class="col-xs-7">
    <div>
      <%= link_to bag_item.item do %>
      <h4><%= bag_item.item.name %></h4>
      <% end %>

      <p>$<%= bag_item.item.price * bag_item.quantity %></p>
      <p>
        Colour: <%= bag_item.item_variant.colour %>,
        Size: <%= bag_item.item_variant.size %>,
        Quantity: <%= bag_item.quantity %>
      </p>
      <%= link_to 'Destroy', bag_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<hr>
<% end %>
<% if @bag_items.size > 0 %>
<h5>
  <span>taxes (10%)</span>
  <span class="pull-right"><%= '%.2f' % (@total_price * 0.1) %></span>
</h5>
<h5>
  <span>sub-total</span>
  <span class="pull-right"><%= '%.2f' % (@total_price * 0.9) %></span>
</h5>
<h3>
  <span>Total</span>
  <span class="pull-right"><%= '%.2f' % (@total_price) %></span>
</h3>

<br>
<%= form_with url: destroy_all_bag_items_path, method: "delete" do |form| %>
<%= form.submit "Checkout", class: "btn btn-primary btn-block" %>
<% end %>
<% end %>
