<h1>Forgot your password? </h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, url: forgot_password_path, local: true) do |f| %>
            <%= render 'shared/errors', model: @user %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
            <%= f.submit "Send email", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<%= link_to 'Back to login', login_path %>