<h1>Reset password</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%# this time pass in the token param that comes with the mailed in url%>
        <%= form_with(model: @user, url: reset_password_path(token: params[:token]), local: true) do |f| %>
            <%= render 'shared/errors', model: @user %>
            <%= f.label :password %>
            <%= f.text_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation %>
            <%= f.text_field :password_confirmation, class: 'form-control' %>
            <%= f.submit "Reset", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<%= link_to 'Back to login', login_path %>