<h1>
    <%= gravatar_for @user %>
</h1>

<div>
    <%= link_to 'Pending orders', bag_items_path %>
</div>

<div>
    <%= link_to 'Update login details', edit_user_path(@user) %>
</div>

<%# gotta be honest, i still got no clue what this is about, need a teams sess %>
<div>
    <%= link_to 'Subscription (TODO)', '#' %>
</div>

<div>
    <%= link_to 'Log out', logout_path, method: :delete %>
</div>
