<h1>
    <%= gravatar_for @user %>
</h1>

<div>
    <%= link_to 'Pending orders', bag_items_path %>
</div>

<div>
    <%= link_to 'Update login details', edit_user_path(@user) %>
</div>

<%= form_with url: subscription_user_path(@user) do |f| %>
    <div class="actions">
        <%= f.submit "Subscription" %>
    </div>
<% end %>

<div>
    <%= link_to 'Log out', logout_path, method: :delete %>
</div>
