<div class="col-xs-6 smallpadding">
    <%= link_to saved_path(item), method: :put, :remote => true do %>
    <button type="button" class="btn btn-xs" style="position: absolute;">
        <% if saved.include? item.id %>
        <span class="glyphicon glyphicon-minus"></span>
        <% else %>
        <span class="glyphicon glyphicon-plus"></span>
        <% end %>
    </button>
    <% end %>
    
    <%= link_to item do %>
        <div class="well nopadding" style="background-image:url('<%= item.image_link %>'); background-repeat: 
        no-repeat; background-size: cover; background-position: center;"></div>
    <% end %>   
    
    <div>
        <%= link_to item do %>
            <%= item.name %>
        <% end %>
        <br>
        $<%= item.price %>
        <br>
        <% if @popular_page %>
            Popularity <%= item.popularity %>
        <% end %>
    </div>
</div>