
<div class="container">
    <% @items.each_with_index do |item, i| %>
        <% if i % 2 != 0 %><div class="row"><% end %>
            <div class="col-xs-6" >
                <div class="well" style="background-image:url('<%= item.image_link %>'); background-repeat: 
                no-repeat; background-size: cover; background-position: center;"></div>
                <div>
                    <%= item.name %>
                    $<%= item.price %>
                    <%= item.collections %>
                    <%= link_to 'Show', item %>
                </div>
            </div>
        <% if i % 2 != 0 %></div><% end %>
    <% end %>
</div>