<div class="col-xs-6 smallpadding">
    <%= render 'shared/button', item: item %>
    
    <%= link_to item do %>
        <div class="well nopadding" style="background-image:url('<%= item.image_link %>'); background-repeat: 
        no-repeat; background-size: cover; background-position: center;"></div>
    <% end %>   
    
    <div>
        <%= link_to item do %>
            <%= item.name %>
        <% end %>
        <br>
        $<%= item.price %>
        <br>
        <% if @popular_page %>
            Popularity <%= item.popularity %>
        <% end %>
    </div>
</div>