<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image link</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @popular_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.image_link %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Add to saved list', saved_path(item), method: :patch %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
