<%# convert to clickable icon, which adds to saved list and displays new item %>
<div class="container">
    <h3><%= @random_item.name%></h3>
    <p> <%= @random_item.description%><p>
    <p> <%= @random_item.price%><p>
    <p>
      <%= form_with model: @random_item, url: saved_path(@random_item.id), method: "patch" do |form| %>
        <%= form.hidden_field :id, value: @random_item.id %>
        <%= form.submit "Add to Saved list" %>
      <% end %>
    </p>
</div>
