<p><%= @subscribed %> <%= flash[:error] %></p>

<div class="container">
    <%= render "random" %>
</div>

<!--<div class="container">-->
<!--    <h2>Saved</h2>-->
<!--    <%# render "saved_list/saved" %>-->
<!--</div>-->

<%# how to do the scroll right list effect %>
<div class="container">
    <h2>Popular</h2>
    <%= link_to "See all", '#' %>
    <%= render "popular" %>
</div>


<%# how to do the scroll right list effect %>
<div class="container">
    <h2>Collections</h2>
    <%= link_to "See all", collection_path(CollectionItem.everything.to_s) %>
    <div>
        <% @collections.each do |name| %>
            <%= link_to name, collection_path(name) %>
        <% end %>
    </div>
</div>

<div class="container">
    <h2>Newsletter</h2>
    <p>Sign up here:</p>
    <%= render "newsletter_form" %>
</div>

