<p><%= @subscribed %> </p>

<div class="container">
    <%= render "random" %>
</div>

<!--<div class="container">-->
<!--    <h2>Saved</h2>-->
<!--    <%# render "saved_list/saved", url:  %>-->
<!--</div>-->

<h2 class="sub-header">Popular</h2>
<%= link_to "See all", '#' %>
<%= render "popular" %>

<h2 class="sub-header">Collections</h2>
<%= link_to "See all", collection_path(CollectionItem.everything) %>
<%= render "collection" %>

<h2 class="sub-header">Newsletter</h2>
<%= render "newsletter_form", visitor: @visitor %>
