<p><%= @subscribed %></p>
<%# should be a headER??? %>
<%# add icons + links%>
<div class="container">
    <h1>Home</h1>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Shopping Bag", '#' %></li>
            <li><%= link_to "Search", '#' %></li>
            <li><%= link_to "Menu bar", '#' %></li> 
        </ul>
    </nav>
</div>



<br>
<br>
<br>



<%# should be a partial??? to reload easily %>
<%# convert to clickable icon, which adds to saved list and displays new item %>
<div class="container">
    <h3><%= @random_item.name%></h3>
    <p> <%= @random_item.description%><p>
    <p> <%= @random_item.price%><p>
    <p><%= link_to "+ button", '#' %></li> 
</div>




<br>
<br>
<br>




<%# how to do the scroll right list effect %>
<div class="container">
    <h2>Popular</h2>
    <%= link_to "See all", '#' %>
    <%= render "popular" %>
</div>



<br>
<br>
<br>


<%# how to do the scroll right list effect %>
<div class="container">
    <h2>Collections</h2>
    <%= link_to "See all", '#' %>
    <div>
        <%# remember, big difference between <%= and <% %>
        <% CollectionItem.collections.each do |name| %>
            <%= link_to name, collection_path(name) %>
        <% end %>
    </div>
</div>



<br>
<br>
<br>



<div class="container">
    <h2>Newsletter</h2>
    <p>Sign up here:</p>
    <%= render "newsletter_form" %>
</div>

