<%= form_with(model: item, local: true) do |form| %>
  <%= render 'shared/errors', model: item %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div class="field">
    <%= form.label :image_link %>
    <%= form.text_area :image_link %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>


  <div class="field">
    <%= form.label :arrival_date %>
    <%= form.date_select :arrival_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
