<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
      
  <ul class="nav nav-sidebar">
    <li><%= link_to "Home", root_path, method: "get" %></li>
  </ul>
  
  <ul class="nav nav-sidebar">
    <li><%= link_to "Shop", collections_path%></li>
    <% CollectionItem.collections.each do |collection| %>
      <li><%= link_to collection, collection_path(collection), method: "get" %></li>
    <% end %>
  </ul>
  
  <ul class="nav nav-sidebar">
    <li><%= link_to "Saved", saved_index_path, method: "get" %></li>
    <li><%= link_to "Shopping Cart", bag_items_path, method: "get" %></li>
  </ul>
  
  <ul class="nav nav-sidebar">
    <li><%= link_to "Help and Support", help_path, method: "get" %></li>
  </ul>

</div>
